.btn {
  width: 140px;
  padding: 14px 0;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: var(--color-white);
  border: none;
  border-radius: 200px;
  background: var(--color-button);
  transition: background 0.5s ease;
}
.btn:hover,
.btn:active {
  background: var(--color-hover);
}
@media only screen and (min-width: 1440px) {
  .btn {
    width: 166px;
    padding: 16px 0;

    font-size: 16px;
  }
}
