.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.price {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33333;
  color: var(--color-main);
}
.favoriteBtn {
  width: 26px;
  height: 24px;
  padding: 0;
  border: none;
  border-radius: 50px;
  background: transparent;
}
.favoriteBtn svg {
  width: 26px;
  height: 24px;
}
.heart {
  fill: var(--color-main);
  transition: all 0.5s ease;
}
.heart:hover {
  fill: var(--color-button);
}
.heartActive {
  fill: var(--color-button);
}
@media only screen and (min-width: 768px) {
  .container {
    gap: 12px;
    justify-self: start;
  }
  .price {
    font-size: 24px;
  }
}
