@font-face {
    font-family: 'Inter 18pt';
    src: url('Inter18pt-Regular.woff2') format('woff2');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 24pt';
    src: url('Inter24pt-SemiBold.woff2') format('woff2');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 28pt';
    src: url('Inter28pt-Medium.woff2') format('woff2');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}
