:root {
  font-family: "Inter", sans-serif;

  --color-main: #101828;
  --color-text: #475467;
  --color-gray: #6c717b;
  --color-button: #e44848;
  --color-hover: #d84343;
  --color-rating: #ffc531;
  --color-light: #dadde1;
  --color-badges: #f2f4f7;
  --color-inputs: #f7f7f7;
  --color-white: #ffffff;
  --color-black: #000;

  color: var(--color-main);
}

body {
  display: flex;
  flex-direction: column;
}
