:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --color-main: #101828;
  --color-text: #475467;
  --color-gray: #6C717B;
  --color-button: #E44848;
  --color-hover: #D84343;
  --color-rating: #FFC531;
  --color-light: #DADDE1;
  --color-badges: #F2F4F7;
  --color-inputs: #F7F7F7;
  --color-white: #FFFFFF;
  --color-black: #000;
}

body {
  display: flex;
  flex-direction: column;
}