.container {
  padding: 30px 15px;
  border-radius: 10px;
  background: var(--color-inputs);
  box-sizing: border-box;
  width: 327px;

  display: flex;
  flex-direction: column;
  gap: 50px;
}
.details {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: var(--color-main);
}
.details hr {
  margin: 8px 0 8px 0;
  border: var(--color-light) solid 1px;
}
.list {
  display: grid;
  gap: 16px;
}
.item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: var(--color-main);
}
@media only screen and (min-width: 1440px) {
  .container {
    padding: 44px 52px;
    width: 631px;

    gap: 100px;
  }
  .details {
    gap: 24px;
  }
  .details hr {
    margin: 24px 0 24px 0;
  }
  .item {
    font-size: 16px;
  }
}
