.list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.item {
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 10px 15px;

  border-radius: 100px;
  background: var(--color-badges);
}
.icon {
  width: 18px;
  height: 18px;
}
.item p {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  color: var(--color-main);
}

@media only screen and (min-width: 768px) {
.item {
  padding: 12px 18px;
}
.icon {
  width: 20px;
  height: 20px;
}
.item p {
  font-size: 16px;
}
}
