.container {
  display: flex;
  flex-direction: column;
  gap: 28px;
}
.info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.name {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  color: var(--color-main);
}
.priceLikes {
  display: grid;
  gap: 16px;
}
.galleryContainer {
  display: flex;
  /* flex-direction: row; */
  flex-direction: column;
  align-items: center;

  /* gap: 48px; */
  gap: 30px;
}
.gallery {
  overflow: hidden;
  width: 277px;
  height: 312px;
}
.image {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
  object-position: center;
}
.description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-text);
}
@media only screen and (min-width: 768px) {
  .galleryContainer {
    flex-direction: row;
    flex-wrap: wrap;

    /* gap: 48px; */
    gap: 30px;
  }
  .gallery {
    /* width: 277px; */
    width: 207px;
    /* height: 312px; */
    height: 282px;
  }
}
@media only screen and (min-width: 1440px) {
  .galleryContainer {
    gap: 48px;
  }
  .gallery {
    width: 277px;
    height: 312px;
  }
}
